*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
}
//RWD
@mixin mac{
    @media(max-width:1280px){
      @content;
    }
  }
  @mixin ipad{
    @media(max-width:1024px){
      @content;
    }
  }
  @mixin mobile{
    @media(max-width:375px){
      @content;
    }
  }

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    nav{
        width: 100vw;
        height: 100px;
        background-color: #223344;
        position: fixed;
        z-index: 5;
        @include mobile{
        height: 80px;
        }
        #title{
        display: flex;
        justify-content: center;
        align-items: center;
          img.nav-logo{
            width: 64px;
            height: 64px;
            filter: brightness(100);
            margin: 0 10px;
            @include mobile{
                width: 45px;
                height: 45px;
                filter: brightness(100);
            }
      
        } 
         .nav-name{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            line-height: 100px;
            margin: 0 10px;
            @include mobile{
                font-size: 1.2rem; 
                line-height: 80px;
            }   
        }
        }    
    }
    header{ 
        .back-to-top {
            display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
            position: fixed; /* 位置是固定的 */
            bottom: 40px; 
            right: 40px; 
            z-index: 99; /* 確保不被其他功能覆蓋 */
            border: 2px solid #473aaa; 
            outline: none; /* 不顯示外框 */
            background-color: #fff; 
            color: #473aaa; 
            cursor: pointer;          
            padding: 20px 25px 25px 25px;           
            border-radius:15px;     }
            
            .back-to-top:hover {   
            background-color: rgb(190, 190, 190); /* 滑鼠移上去時，反轉顏色 */
            color: #fff;
            }
        
        section.pageOne{
            background: #ffffe0;
            width: 100vw;
            height: 100px;
            @include mobile{
                height: 80px; 
            }
            p.pageOneText{
                text-align: center;
                line-height: 100px;
                font-size: 1.6rem;
                font-weight: bold;
                @include mobile{
                    font-size: 1.2rem; 
                    line-height: 80px;
                }
            }
            }
        }
        section.question{
            width: 100%; 
            background-color: #dddddd; 
            // hr{
            //     width: 80%;
            //     text-align: center;
            //     vertical-align: middle;
            // } 
            .text{
                width:70%;
                margin: 0 auto;
                padding: 30px; 

                @include mac{
                width: 90%;
                } 
                
                @include ipad{

                }

                @include mobile{
                    width: 95%;
                    padding-top: 20px;
                }

                h3{
                    font-size: 1.5rem;
                    letter-spacing: .15em;
                    @include mobile{
                        font-size: 1.2rem;
                        letter-spacing: .1em;  
                    }
                }
                
                p{
                    font-size: 1.2rem;
                    margin-top: 20px;
                    letter-spacing: .2em;
                    line-height: 40px;
                    font-weight: 420;
                    text-indent: 2.8rem;
                    @include mobile{
                        font-size: 1rem;   
                    }
                }
                ul{
                    margin-top: 20px;
                    list-style-type:square;
                    li{
                    font-size: 1.2rem;
                    letter-spacing: .15em;
                    line-height: 40px;
                    font-weight: 420;
                    @include mobile{
                    font-size: 1rem;   
                    }
                    a{
                        color: rgb(140, 65, 65);
                        text-decoration: none;
                        cursor: pointer;

                        &:hover{
                            font-size: 1.35rem;
                            color: rgb(234, 109, 109);
                            border-radius: 5px;
                            text-decoration: underline;
                            @include mobile{
                                font-size: 1.2rem;   
                            }
                        }
                    }

                    }
                }
                table {
                    width: 1000px;
                    margin-top: 40px;
                    border-collapse: collapse;
                    overflow: hidden;
                    box-shadow: 0 0 10px 5px rgb(37, 94, 135);
                    @include ipad{
                    width: 90%;
                    }
                    @include mobile{
                        width: 100%;
                        display: block;
                        overflow-x: auto;//自動加入水平卷軸
                        white-space: nowrap;//文字不會自動換行
                    }
                thead {   
                    tr{
                       th {
                        padding: 20px;
                        font-size: 1.5rem;
                        background-color: #a8b8ff;
                        text-align: center;
                        font-weight: bold;
                        letter-spacing: .1em;
                        @include mobile{
                        font-size: 1.3rem; 
                        }
                    &:hover{
                        opacity: 0.8; 
                        background-color: #a8b8ff;  
                        color: #fff;
                    } 
                    }  
                    }      
                }
                tbody {
                    tr {
                    
                    td {
                        position: relative;
                        color:black;
                        font-size: 1.2rem;
                        text-align: center;
                        padding: 15px;
                        font-weight: bold;
                        letter-spacing: .1em;
                        background-color: rgb(186, 186, 247);
                        @include mobile{
                            font-size: 1rem; 
                            }
                        &:hover {
                            opacity: 0.8;background-color: #465495; 
                            color:white; 
                            }
                        }
                    }    
                    }                    
                }
                }        
            }          
        }

        footer{
            width: 100vw;
            height: 60px;
            background-color: #223344;
            p{
                color: white;
                font-weight: bold;
                font-size: 1rem;
                text-align: center;
                line-height: 60px;
                letter-spacing: 0.2em;
            }
        }